.signUpPage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at center,
            #ff6b35 0%,
            #ff8c5a 28%,
            #ffb08a 58%,
            #ffc9ae 78%,
            #ffdcca 100%);

    padding: 20px;
}

.signUpCard {
    width: 100%;
    max-width: 420px;
    background-color: white;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);
}

.signUpTitle {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.signUpSubtitle {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.signUpText {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.termsRow {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 13px;
    color: #555;

    margin-top: 4px;
}

.termsRow input {
    width: 16px;
    height: 16px;
    accent-color: #fd4000;

    cursor: pointer;
}

.termsLink {
    color: #fd4000;
    font-weight: 600;
    cursor: pointer;
}

.signUpLink {
    color: #fd4000;
    font-weight: 600;
    text-decoration: none;
}

/* CustomRadio.css */
.custom-radio {
  appearance: none; /* Hides default circle */
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #555;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.custom-radio::before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color, #fd4000);
  opacity: 50%;
}

.custom-radio:checked::before {
  transform: scale(1);
}
