**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/TestResults/
**/coverage/
**/coveragereport/

.git
.gitignore

README.md

FoodDeliveryAppFront/node_modules/
FoodDeliveryAppFront/dist/

appsettings.Development.json
**/appsettings.Development.json